@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/Vazirmatn.ttf");
  }

  html {
    font-family: "Vazirmatn";
  }
}
